<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instituto Ambiental Boto Flipper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/markdown.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Instituto Boto Flipper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- <li> -->
                    <!--     <a class="page-scroll" href="#services">Services</a> -->
                    <!-- </li> -->
                    <li>
                        <a class="page-scroll" href="#about">Histórico</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projetos">Projetos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="../static/img/logos/boto3.svg" align="middle" width="300" alt="">
                <!-- <div class="intro-lead-in">Conheça nossas Atividades!</div> -->
                <div class="intro-heading"> Cuidando do Meio Ambiente</div>
                <!-- <div class="intro-heading"> Cuidando do Meio Ambiente</div> -->
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <!-- <section id="services"> -->
    <!--     <div class="container"> -->
    <!--         <div class="row"> -->
    <!--             <div class="col-lg-12 text-center"> -->
    <!--                 <h2 class="section-heading">Services</h2> -->
    <!--                 <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--         <div class="row text-center"> -->
    <!--             <div class="col-md-4"> -->
    <!--                 <span class="fa-stack fa-4x"> -->
    <!--                     <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!--                     <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
    <!--                 </span> -->
    <!--                 <h4 class="service-heading">E-Commerce</h4> -->
    <!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    <!--             </div> -->
    <!--             <div class="col-md-4"> -->
    <!--                 <span class="fa-stack fa-4x"> -->
    <!--                     <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!--                     <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
    <!--                 </span> -->
    <!--                 <h4 class="service-heading">Responsive Design</h4> -->
    <!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    <!--             </div> -->
    <!--             <div class="col-md-4"> -->
    <!--                 <span class="fa-stack fa-4x"> -->
    <!--                     <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!--                     <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
    <!--                 </span> -->
    <!--                 <h4 class="service-heading">Web Security</h4> -->
    <!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    <!--             </div> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </section> -->


    <!-- Histórico Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Histórico</h2>
		    <h3 class="section-subheading text-muted">O Instituto Boto Flipper e o movimento ambientalista na cidade de Laguna-SC</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/volta_flipper2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1984-</h4>
                                    <h4 class="subheading">Você sabe porque Boto Flipper?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em 1984 um filhote de boto foi retirado da Lagoa de Santo Antônio dos Anjos, para que pudesse ser alocado no parque "Oceanário" em em São Vicente (SP), que ganhou o nome de Flipper, por analogia ao seriado de televisão norte americano.</p>
				    <p class="text-muted">Já em 1992, com o movimento ambientalista atuante, foi conseguida uma liminar judicial obrigando o retorno do boto às águas de Laguna. Um trabalho especial de readaptação foi feito com Flipper na tentativa de restabelecimento ao seu ambiente natural. Flipper foi avistado no litoral norte de SC, avançando ao SE e mais tarde retornando à Laguna, onde nunca mais foi avistado. Mais detalhes sobre o histórico do Flipper pode ser lido <a href="http://asmileumahistoriaslaguna.blogspot.com.br/2013/09/08-boto-flipper-da-captura-chegada-em.html" target="_blank">aqui</a>.</p>
				    <p class="text-muted">A homenagem ao "Flipper" traz a luta ambientalista cravada na história da nossa instituição, para que a remoção de animais silvestres dos seus ambientes naturais não seja perpetuado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/boto3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998</h4>
                                    <h4 class="subheading">A fundação do Instituto Ambiental Boto Flipper</h4>
                                </div>
                                <div class="timeline-body">
				    <p class="text-muted">Como iniciativa de ações de educação ambiental, promovida pelo professor Dr. José Antônio em conjunto com seus alunos do ensino médio e fundamental, foi proposta uma lei que tornasse o boto protegido legalmente. Isso resultou na lei municipal <a href="http://camara-municipal-da-laguna.jusbrasil.com.br/legislacao/1019502/lei-521-97" target="_blank"> 521/1997</a> reconhecendo o boto da tainha como patrimônio natural de Laguna.</p>
				    <p class="text-muted">Logo após isso o Instituo Boto Flipper é criado para dar continuidade às ações ambientalistas e de conscientização sobre o fenômeno único da pesca cooperativa, que ocorre com os botos da tainha e os pescadores.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/iabf10.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008</h4>
                                    <h4 class="subheading">10 Anos de Instituto Boto Flipper</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Após 10 anos de ações ambientalistas, o Instituto promove um congresso de Educação Ambiental, proporcionando o diálogo entre pesquisadores e a comunidade Lagunense sobre as principais problemáticas conservacionistas do município, trazendo perspectivas e desafios a serem enfrentados.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/gravata2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nossas causas</h4>
                                    <h4 class="subheading">E algumas participações</h4>
                                </div>
                                <div class="timeline-body">
				    <p class="text-muted">Desde a criação do Conselho Municipal do Meio Ambiente <a href="http://camara-municipal-da-laguna.jusbrasil.com.br/legislacao/527028/lei-894-02" target="_blank"> (COMDEMA)</a>, o Instituto participa das discussões ambientais do município trazendo reflexões ambientais sobre as temáticas apresentadas ao conselho. Além disso mantém-se atuante no Conselho de Desenvolvimento Municipal (CDM) onde são discutidas entre outras temáticas, as alterações e adaptações do Plano Diretor Municipal.</p>
				    <p class="text-muted">Além dessas participações, é papel do Instituto Boto Flipper promover pesquisa científica e ações de educação ambiental para diversos grupos de faixas etárias distintas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Seja parte
                                    <br>da nossa
                                    <br>História!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Grid Section -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">Clique nas postagens para ler mais!</h3>
                </div>
            </div>
            <div class="row">

	      {% for post in posts %}
	      <div class="col-md-4 col-sm-6 portfolio-item">
		  <a href={{ post.meta['htitle'] }} class="portfolio-link" data-toggle="modal">
	  	<div class="portfolio-hover">
	  	    <div class="portfolio-hover-content">
	  	    <i class="fa fa-plus fa-3x"></i>
	  	    </div>
	  	</div>
		<img src={{ post.meta['img_address'] }} class="img-responsive" alt="">
	      </a>
	      <div class="portfolio-caption">
	  	<h4>{{ post.meta['title'] }}</h4>
	  	<p class="text-muted">{{ post.meta['date'].strftime("%A, %B %d, %Y. %I:%M %p") }}</p>
	      </div>
	      </div>

	      {% endfor %}
        </div>
    </section>

    <!-- Projetos Section -->
    <!-- <section id="projetos" class="bg-light-gray"> -->
    <section id="projetos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alguns de nossos projetos</h2>
                    <h3 class="section-subheading text-muted">Saiba mais sobre os nossos projetos e como se envolver em nossas ações. Entre em contato!</h3>
                </div>
            </div>
            <div class="row">


	    <div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#RSA" class="portfolio-link" data-toggle="modal">
	  	<div class="portfolio-hover">
	  	    <div class="portfolio-hover-content">
	  	    <i class="fa fa-plus fa-3x"></i>
	  	    </div>
	  	</div>
		<img src="../static/img/RSA.jpg" class="img-responsive" alt="">
		</a>
		<h4>Resíduos Sólidos Antropogênicos (RSA)</h4>
		<p class="text-muted"></p>
	    </div>

    <!-- Expand RSA -->
    <div class="portfolio-modal modal fade" id="RSA" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
			    <h2>Resíduos Sólidos Antropogênicos (RSA)</h2>
			    <img class="img-responsive img-centered" src="../static/img/RSA.jpg" alt="">
                            <p>Mais informações sobre esse projeto, entre em contato conosco!<p>
			    <p>Esse projeto tem o apoio de:<p>
				    <p><a href="https://www.facebook.com/pedalandopelapaz" target="_blank"><img src="../static/img/parceiros/giba.jpg" style='width:20%;' alt=""></a>
			    </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retorne aos Projetos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	    <!-- Projeto Maria Farinha -->
	    <div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#MariaFarinha" class="portfolio-link" data-toggle="modal">
	  	<div class="portfolio-hover">
	  	    <div class="portfolio-hover-content">
	  	    <i class="fa fa-plus fa-3x"></i>
	  	    </div>
	  	</div>
		<img src="../static/img/Maria-Farinha.jpg" class="img-responsive" alt="">
		</a>
		<h4>Monitoramento de Maria Farinha (Ocypode quadrata)</h4>
		<p class="text-muted"></p>
	    </div>

    <!-- Expand Maria Farinha -->
    <div class="portfolio-modal modal fade" id="MariaFarinha" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
			    <h2>Monitoramento de  Maria Farinha (Ocypode quadrata)</h2>
			    <img class="img-responsive img-centered" src="../static/img/Maria-Farinha.jpg" alt="">
                            <p>Mais informações sobre esse projeto, entre em contato conosco!<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retorne aos Projetos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	    <!-- Projeto Boto Flipper vai pra escola -->
	    <div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#EA" class="portfolio-link" data-toggle="modal">
	  	<div class="portfolio-hover">
	  	    <div class="portfolio-hover-content">
	  	    <i class="fa fa-plus fa-3x"></i>
	  	    </div>
	  	</div>
		<img src="../static/img/boto-escola.jpg" class="img-responsive" alt="">
		</a>
		<h4>Projeto Boto Flipper vai pra escola</h4>
		<p class="text-muted"></p>
	    </div>

    <!-- Expand Boto Flipper vai pra escola -->
    <div class="portfolio-modal modal fade" id="EA" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
			    <h2>Projeto Boto Flipper vai pra escola</h2>
			    <img class="img-responsive img-centered" src="../static/img/boto-escola.jpg" alt="">
                            <p>Mais informações sobre esse projeto, entre em contato conosco!<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retorne aos Projetos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	    <!-- Projeto EA-Zonas-Costeiras -->
	    <div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#ZonaCosteira" class="portfolio-link" data-toggle="modal">
	  	<div class="portfolio-hover">
	  	    <div class="portfolio-hover-content">
	  	    <i class="fa fa-plus fa-3x"></i>
	  	    </div>
	  	</div>
		<img src="../static/img/EA-costeira.jpg" class="img-responsive" alt="">
		</a>
		<h4>Educação Ambiental em Zonas Costeiras</h4>
		<p class="text-muted"></p>
	    </div>

    <!-- Expand EA em Zonas Costeiras -->
    <div class="portfolio-modal modal fade" id="ZonaCosteira" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
			    <h2>Educação Ambiental em Zonas Costeiras</h2>
			    <img class="img-responsive img-centered" src="../static/img/EA-costeira.jpg" alt="">
			    <p>Mais informações sobre esse projeto <a href="http://projetoeducacaoambientallagunasc.blogspot.com.br" target="_blank">Aqui</a>.<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retorne aos Projetos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
            <!-- <div class="row"> -->
            <!--     <div class="col-lg-8 col-lg-offset-2 text-center"> -->
            <!--         <p class="large text-muted">Saiba mais sobre os nossos projetos e como se envolver em nossas ações. Entre em contato!</p> -->
            <!--     </div> -->
            <!-- </div> -->
        </div>
    </section>

    <!-- Clients Aside -->
    <div class="row">
	<div class="col-lg-12 text-center">
	    <h2 class="section-heading">Nossos Parceiros</h2>
	    <!-- <h3 class="section-subheading text-muted">Nossos Parceiros</h3> -->
	</div>
    </div>
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.facebook.com/labciemar" target="_blank">
                        <img src="../static/img/parceiros/labicem.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.ceres.udesc.br/" target="_blank">
                        <img src="../static/img/parceiros/ceres.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.pm.sc.gov.br/ambiental/" target="_blank">
                        <img src="../static/img/parceiros/pm-ambiental.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- <div class="col-md-3 col-sm-6"> -->
                <!--     <a href="#"> -->
                <!--         <img src="../static/img/parceiros/new.jpg" class="img-responsive img-centered" alt=""> -->
                <!--     </a> -->
                <!-- </div> -->
            </div>
        </div>
    </aside>

    <!-- Contato Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="color:#fff">
                    <h2 class="section-heading">Entre em Contato com a gente!</h2>
                    <hr class="primary">
                    <p>Rua Costa Carneiro, 101, CEP: 88790-000. Mar Grosso - Laguna - SC</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><a href="+55 (48) 9156-5100">+55 (48) 9156-5100</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:institutobotoflipper@gmail.com">institutobotoflipper@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Instituto Ambiental Boto Flipper 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/pages/Instituto-Ambiental-Boto-Flipper/501992446626797?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                        <!-- </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Blog Modals -->
    <!-- Use the modals below to showcase the continuation of blog post! -->

    <!-- Blog Modal 1 -->
    {% for post in posts %}
    <div class="portfolio-modal modal fade" id={{ post.meta['stitle'] }} tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->

			    <article class="markdown site_content">
			    <h2>{{ post.meta['title'] }}</h2>
			    <img class="img-responsive img-centered" src={{ post.meta['img_address'] }} alt="">

			    <section class="post_content">
                            <p>{{ post.body|markdown }}<p>
                            <ul class="list-inline">
                                <li>Data: {{ post.meta['date'].strftime("%A, %B %d, %Y. %I:%M %p") }}</li>
				<li>Categoria: {{ post.meta['tags'] }}</li>
                            </ul>
			    </section>
			    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retorne ao Blog</button>
			    </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script> -->
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/agency.js"></script>

</body>

</html>
